main {
    display: flex;
    flex-direction: column;

    background-color: #ffffff;
    width: 100vw;
    height: auto;
}

.titulo {
    text-align: center;
    font-size: 32px;
    color: #732796;
    text-shadow: 4px 4px 8px #b99ee8;   
}
.linea {
    width: 100%;
    height: 60px;
    background-color: #ececec;
    box-shadow: 0 5px 10px 2px #ccc;
}
@keyframes seccion {
    from {
        transform: translateX(-100% vh);
    }
    to {
        transform: translateX(100%);
    }
}
.seccion {
    font-size: 30px;
    font-family:  'Jaldi', sans-serif;
    font-weight: bold;
    color:#732796;
    white-space: wrap;
    overflow: hidden;
    animation: seccion 30s linear infinite 0s; 
    margin-top: 10px;
}
.container {
    display: flex;
    justify-content: center;
    gap: 90px;
    /* margin: 40px 0px; */
    /* margin: 11px 15px 15px 15px; */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    background-color: #732796 !important;
    border: solid 1px #732796 !important;
}

/* img {
    width: 100%;
    height: 100%;
} */

.texto--lugares {
    margin: 20px;
}

/* --- Invisible AGREGAR --- */
.titulo-querie{
    display: none;
}

/* --- Invisible REVISAR --- */
.espera{
    display: none;
}

@media (max-width: 768px) {
    .normal {
        display: none;
    }
    .espera{
        display: flex;
        justify-content: center;
    }
    .titulo{
        display: none;
    }
    .titulo-querie{
        display: block;
        text-align: center;
        font-size:15px;
        color: #732796;
        text-shadow: 4px 4px 8px #b99ee8;
    }
}